

/* product page styles */

div#shopify-block-AamhrL0tNWVhUOEhGc__judge_me_reviews_preview_badge_YkLAft.shopify-block.shopify-app-block.jdgm-horizon-widget {
width: fit-content; 
}

div.jdgm-prev-badge
{
    display: flex!important;
gap: 5px;
}