

/* product page styles */

div#shopify-block-AamhrL0tNWVhUOEhGc__judge_me_reviews_preview_badge_YkLAft.shopify-block.shopify-app-block.jdgm-horizon-widget, div#shopify-block-AS0xRWE1iMnJyZUJSa__judge_me_reviews_preview_badge_YkLAft, div#shopify-block-AU1VTMnFGcm02cDVwW__judge_me_reviews_preview_badge_YkLAft {
width: fit-content; 
}

div.jdgm-prev-badge
{
    display: flex!important;
gap: 5px;
}




/* mr coolz homepage banner css */ 
section#shopify-section-template--25251905110307__hero_jVaWmY, div#shopify-section-template--25251905110307__section_GD7pdb{
    display: none; 
}
@media (min-width: 768px) {
section#shopify-section-template--25251905110307__hero_jVaWmY {
    display: block;
  }
}
/* Show on mobile (up to 767px), hide on desktop */
section#shopify-section-template--25251905110307__hero_dFxV7d {
  display: block;
}

@media (min-width: 768px) {
section#shopify-section-template--25251905110307__hero_dFxV7d, div#shopify-section-template--25251905110307__section_DRMQxF {
    display: none;
  }
}

div.group-block.group-block--height-fill.group-block--width-fill.border-style.spacing-style.size-style.color-scheme-5  {
    display: flex;
    aspect-ratio: 1/1;
}

